body {
  margin: 0;
}
/*----------position: relative;----------*/
.top-container {
  background-color: #c0d8c0;
  border: 10px solid;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 200px;
  width: 200px;
  padding: 20px;
  position: relative;
}

.middle-container {
  background-color: #acb992;
  border: 20px solid;
  height: 200px;
  width: 200px;
  /* margin-left: 260px; */
  position: relative;
  bottom: 250px;
  left: 250px;
}

.bottom-container {
  background-color: #8bdb81;
  border: 10px solid;
  height: 200px;
  /* margin-left: 500px; */
  width: 200px;
  position: relative;
  bottom: 470px;
  left: 500px;
}

/*----------position: absolute;----------*/
.red {
  background-color: red;
  height: 200px;
  width: 200px;
  position: absolute;
  left: 400px;
  top: 1127px;
}

.blue {
  background-color: blue;
  height: 200px;
  width: 200px;
  position: absolute;
  left: 200px;
  top: 929px;
}

.yellow {
  background-color: yellow;
  height: 200px;
  width: 200px;
  position: absolute;
}

.row > * {
  background: #8bdb81;
  border: 1px solid red;
}

.container {
  background-color: #8bdb81;
}

.container-fluid {
  background-color: yellow;
}

.huge{
  font-size: 10rem;
  color: #8bdb81;
  font-weight: bold;
}
